 <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
<script src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>  
<script src="~/Scripts/Home/Home.js"></script>

<div id="appoptp" ng-controller="HomeController">
    <!-- Sair -->
    <div class="row">
        <div style="margin-bottom: 0 !important;" class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-centered">
            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 pull-right">
                <div style="cursor:pointer;" class="login-dp">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <a style="cursor:pointer;" ng-click="logout()">Sair</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div align="center" class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-centered">
            <!-- Explicação do sistema -->
            <div class="login-dp">
                <div class="col-md-12 col-sm-12 col-lg-12 espacado">
                    <div style="text-align: left; padding:30px;" class="form-group">
                        <div class="row">
                          <label>Passos para utilizar o sistema : </label>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <label> 1 - Adicione um nome ao modelo. 
                                </label> 
                        </div>
                        <br>
                        <div class="row">
                            <label> 2 - Adicione as variáveis desejadas juntamente com seus coeficientes 
                                (é necessário ao menos uma variável para permitir o prosseguimento da resolução) 
                                </label> 
                        </div>
                        <br>
                        <div class="row">
                            <label>  
                                3 - Logo após a adição das variáveis, será possível visualizar e selecionar o objetivo da sua função. (f.o. -> Min/Max(Z) = ...)
                            </label>
                        </div>
                        <br>
                        <div class="row">
                            <label>4 - Será possível visualizar a caixa de inserção de restrições </label>
                        </div>
                        <br>
                        <div class="row">
                            <label>5 - Na caixa de inserção de restrições, 
                                há a possibilidade de escolher o coeficiente para cada variável 
                                (se não for adicionado coeficiente, a variável não é incluída na restrição)  </label>
                        </div>
                        <br>
                        <div class="row">
                            <label>6 - Selecione o operador que deseja 
                                (menor igual, menor, maior igual, maior ou igual), 
                                defina o valor da expressão e clique em adicionar restrição </label>
                        </div>
                        <br>
                        <div class="row">
                            <label>7 - Após adicionar a restrição, é possível visualizá-la na parte restrições inseridas. </label>
                        </div>
                        <br>
                        <div class="row">
                            <label>8 - É possível remover a restrição clicando sobre o botão remover. </label>
                        </div>
                        <br>
                        <div class="row">
                            <label>9 - É possível visualizar na penúltima caixa, um resumo do modelo descrito por você. </label>
                        </div>
                        <br>
                        <div class="row">
                            <label>10 - Ao clicar sobre o botão resolver, aguarde alguns segundos e uma 
                                nova caixa será mostrada abaixo deste botão com a resolução do modelo. </label>
                        </div>
                        <br>
                        <div class="row">
                            <label>OBS: Reavalie seu modelo para certificar que tenha solução. 
                                Modelos sem soluções apresentam resultado como 0 (o que pode acontecer também com modelos com solução mínima ou máxima iguais a 0)  </label>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <br />
            <!-- Nome do modelo -->
            <div class="login-dp">
                <div class="col-md-12 col-sm-12 col-lg-12 espacado">
                    <div class="form-group">
                        <div class="row">
                            <label>Nome do modelo</label>
                        </div>
                        <div class="row">
                            <div class="col-md-5 form-group" style="float: initial;">
                                <input ng-model="modeloMatematico.NomeModeloMatematico" type="text" class="form-control" placeholder="Nome Modelo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <!-- Inserção de variáveis-->
            <div class="login-dp">
                <div class="col-md-12 col-sm-12 col-lg-12 espacado">
                    <form ng-submit="submitVariavel()" class="form" href="#" accept-charset="UTF-8">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-10" style="float: none;">
                                    <div class="row">
                                        <label>Inserção de Variáveis</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input 
                                        oninvalid="this.setCustomValidity('Insira um coeficiente!')"
                                        oninput="setCustomValidity('')"
                                        ng-model="variavelAAdicionar.coeficiente" type="number" step="0.01" class="form-control"
                                            placeholder="Coeficiente" required="">
                                    </div>
                                    <div class="col-md-5">
                                        <input 
                                        oninvalid="this.setCustomValidity('Insira um nome para a variável!')"
                                        oninput="setCustomValidity('')"
                                        ng-model="variavelAAdicionar.nomeVariavel" type="text" class="form-control"
                                            placeholder="Nome da variável" required="">
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block">adicionar variável</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Função objetivo -->
            <div ng-show="temVariaveis()">
                <br />
                <div class="login-dp">
                    <br />
                    <div class="col-md-12 col-sm-12 col-lg-12 espacado">
                        <form class="form" href="#" accept-charset="UTF-8">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12" style="float: none; display: inline-block;">
                                        <p style="display: inline-block;">Função Objetivo -></p>
                                        <select style="display: inline-block;" class="form-control" ng-model="modeloMatematico.Direcao">
                                            <option ng-repeat="(codigo, descricao) in direcaoOptimizacao" value="{{codigo}}">
                                                {{descricao}}
                                            </option>
                                        </select>
                                        <p style="display: inline-block;">(Z) = </p>
                                        <p style="display: inline-block;" ng-repeat="(variavel, coeficiente) in modeloMatematico.Variaveis track by $index">
                                            {{coeficiente}}{{variavel}} {{$index
                                            < modeloMatematico.Variaveis.length ? '+' : ''}} </p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Inserção de restrições / Restrições inseridas -->
            <div ng-show="temVariaveis()">
                <br />
                <div class="login-dp">
                    <br />
                    <div class="col-md-12 col-sm-12 col-lg-12 espacado">
                        <!-- Inserção de restrições -->
                        <form ng-submit="adicionarRestricao($event)" class="form" href="#" accept-charset="UTF-8">
                            <div class="form-group">
                                <div class="row">
                                    <label>Inserção de restrições</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <form class="form" href="#" accept-charset="UTF-8">
                                        <div class="col-md-12" style="float: none;">
                                            <div class="col-md-1" style="display: inline-block;" ng-repeat="(variavel, coeficiente) in modeloMatematico.Variaveis track by $index">
                                                <input ng-model="restricaoAAdicionar.Variaveis[variavel]" type="number" step="0.01" class="form-control" placeholder="0">
                                                <p>{{variavel}} {{$index
                                                    < modeloMatematico.Variaveis ? '+' : ''}}</p>
                                            </div>
                                            <div class="col-md-1" style="display: inline-block;">
                                                <select ng-model="restricaoAAdicionar.Operador" class="form-control">
                                                    <option ng-repeat="(codigo, operador) in operadores" value="{{codigo}}">{{operador}}</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4" style="display: inline-block;">
                                                <input ng-model="restricaoAAdicionar.Expressao" type="number" step="0.01" class="form-control" placeholder="Valor expressão"
                                                oninvalid="this.setCustomValidity('É obrigatório selecionar o valor da expressão')"
                                                oninput="setCustomValidity('')"
                                                    required>
                                            </div>
                                            <div style="display: inline-block;">
                                                <button type="submit" class="btn btn-primary btn-block">Adicionar restrição</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </form>
                        <!-- Listagem de restrições / Restrições inseridas -->
                        <form ng-show="modeloMatematico.Variaveis.length > 0" class="form" href="#" accept-charset="UTF-8">
                            <div style="height: 2px; background-color:black;" class="row"></div>
                            <div class="form-group">
                                <div class="row">
                                    <label>Restrições inseridas</label>
                                </div>
                            </div>
                            <div class="col-md-8" style="float: none;">
                                <div class="form-group">
                                    <div class="row" ng-repeat="retricao in modeloMatematico.Restricoes track by $index">
                                        <div style="display: inline-block;">
                                            <p ng-repeat="(variavel, coeff) in restricao.Variaveis track by $index">
                                                {{coeff}}{{variavel}} {{$index
                                                < restricao.Variaveis.length ? '+' : ''}} </p>
                                                    <p>
                                                        {{operadores[restricao.Operador]}} {{restricao.Expressao}}
                                                    </p>
                                                    <div style="margin-left: 15px;">
                                                        <button type="button" ng-click="removerRestricao($index)" class="btn btn-danger btn-block">Remover</button>
                                                    </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Modelo -->
            <div ng-show="temVariaveis()">
                <br />
                <div class="login-dp">
                    <br />
                    <div class="col-md-12 col-sm-12 col-lg-12 espacado">
                        <form class="form" href="#" accept-charset="UTF-8">
                            <div class="row">
                                <label>Dados do modelo inserido</label>
                            </div>
                            <!-- Função objetivo -->
                            <div ng-show="modeloMatematico.Variaveis > 0" class="row">
                                <br />
                                <br />
                                <label>Variáveis</label>
                            </div>
                            <br />
                            <div ng-show="modeloMatematico.Variaveis > 0" class="row">
                                <div class="col-md-8" style="float: none;">
                                    <p>Função Objetivo -></p>
                                    <select class="form-control" ng-model="modeloMatematico.Direcao">
                                        <option ng-repeat="(codigo, descricao) in direcaoOptimizacao" value="{{codigo}}">
                                            {{descricao}}
                                        </option>
                                    </select>
                                    <p>(Z) = </p>
                                    <p ng-repeat="(variavel, coeficiente) in modeloMatematico.Variaveis track by $index">
                                        {{coeficiente}}{{variavel}} {{$index
                                        < modeloMatematico.Variaveis.length ? '+' : ''}} </p>
                                </div>
                            </div>
                            <div ng-show="modeloMatematico.Restricoes > 0" class="row">
                                <label>Sujeito a : </label>
                            </div>
                            <!-- Restrições -->
                            <div class="row" ng-repeat="retricao in modeloMatematico.Restricoes track by $index">
                                <div style="display: inline-block;">
                                    <p ng-repeat="(variavel, coeff) in restricao.Variaveis track by $index">
                                        {{coeff}}{{variavel}} {{$index
                                        < restricao.Variaveis.length ? '+' : ''}} </p>
                                            <p>
                                                {{operadores[restricao.Operador]}} {{restricao.Expressao}}
                                            </p>
                                </div>
                                <div style="margin-left: 15px;">
                                    <button type="button" ng-click="removerRestricao($index)" class="btn btn-danger btn-block">Remover</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Resolver problema -->
            <div ng-show="temVariaveis()">
                <br />
                <div class="login-dp">
                    <div class="col-md-12 col-sm-12 col-lg-12 espacado">
                        <form ng-submit="solucionarProblema($event)" class="form" href="#" accept-charset="UTF-8">
                            <div class="row">
                                <div style="float:initial;" class="col-md-4 form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Resolver</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <br />
            <!-- Solução -->
            <div ng-hide="solucao == null" class="login-dp">
                <div class="col-md-12 col-sm-12 col-lg-12 espacado">
                    <div class="row">
                        <label>Solução</label>
                    </div>
                    <div class="row">
                        <p>
                            A função objetivo de {{direcaoOptimizacao[modeloMatematico.Direcao]}} teve como resultados:
                        </p>
                        <br />
                        <p ng-repeat="(name, value) in solucao.VariaveisResolvidas">
                            <label>{{name}} : {{value}}</label>
                        </p>
                        <p>
                            <label>Objetivo(z) : {{solucao.ValorFuncaoObjetivoResolvido}}</label>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>